{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block main %}
    <h1>Homepage</h1>
    {{ 'main_menu.item.contact.title'|trans }}

    <ul>
        {% for file in media %}
            <li>
                {% include 'component/img/img.html.twig' with { 'img': file, 'variation': '768x432' } %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
